ALTER TABLE project ADD service_id INT NOT NULL;
ALTER TABLE project ADD expert_id INT DEFAULT NULL;
ALTER TABLE project ADD CONSTRAINT FK_2FB3D0EEED5CA9E6 FOREIGN KEY (service_id) REFERENCES service (id) NOT DEFERRABLE INITIALLY IMMEDIATE;
ALTER TABLE project ADD CONSTRAINT FK_2FB3D0EEC5568CE4 FOREIGN KEY (expert_id) REFERENCES expert (id) NOT DEFERRABLE INITIALLY IMMEDIATE;
CREATE INDEX IDX_2FB3D0EEED5CA9E6 ON project (service_id);
CREATE INDEX IDX_2FB3D0EEC5568CE4 ON project (expert_id);
