<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Symfony + React</title>
    {{ encore_entry_link_tags('app') }} {# Pour les styles CSS #}
</head>
<body>
<div id="root"></div> {# Conteneur pour React #}
{{ encore_entry_script_tags('app') }} {# Pour le JavaScript #}
</body>
</html>